.App {
  width: 100%;
}

.rep_search_main {
  max-width: 800px;
  height: 550px;
  padding: 0px 12px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
}

.main_header {
  color: #4286f4;
  padding: 0px 12px;
  margin-bottom: 44px;
}

.vertical_divider {
  width: 95%;
  height: 1px;
  background: #DEDEDE;
  margin: auto;
}

.search_filter {
  margin: 12px 0px;
}

.results_main {
  display: flex;
  justify-content: space-between;
}

.results_flex {
  flex-basis: 50;
  width: 95%;
  margin-bottom: 12px;
}

@media screen and (max-width: 549px) {
  .rep_search_main {
    height: fit-content;
  }

  .results_main {
    flex-direction: column;
    align-items: center;
  }

  .results_flex {
    flex-basis: 100;
  }
}

.results_header p {
  font-size: 20px;
  display: inline-block;
  margin-top: 0px
}

.results_list {
  margin-right: 6px;
}

.results_list_table {
  max-height: 312px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th {
  padding: 12px 6px;
  border-radius: 2px;
  background: #E2E2E2;
  font-weight: 300;
  color: #555555;
}

td {
  padding: 12px 6px;
  font-weight: 300;
  border-bottom: 1px solid #DEDEDE;
}

.result_row:hover {
  background: #F7F7F7;
}

.results_detail_field {
  padding: 12px 6px;
  margin-top: 1px;
  margin-bottom: 12px;
  background: #F9F9F9;
  border-radius: 2px;
}
